$red: #9a2020;
$purple: #6b488e;
$tan: #e1e0dc; // was darker #cac7c0
$darktan: #A7A6A2;
$lessblack: #333;
$black: hsl(0, 0%, 9%); //#161616
$white: #fff;
$green: #0db745; // 20a200
$gray: #ddd;


$facebook: #3b5998;
$twitter: #55acee;
$email: #dd4b39;

// Old
// $darkgray: hsl(0, 0%, 9%); //#161616
// $lightgray: hsl(0, 0%, 30%); //#919191

$logo: "Tofino", "Proxima Nova", "Helvetica", sans-serif;
$sans: "Lato", "Avenir", "Proxima Nova", "Helvetica", sans-serif;
$serif: Georgia, Times, serif;


// Screen sizes
$break-small: 580px; // 0-580